section.right-rail
    .mod
        .shareability
            .primary-share
                .fb-share
                    a(href="#")
                        .ss-social.ss-facebook
                        span Share
                .tw-tweet
                    a(href="#")
                        .ss-social.ss-twitter
                        span Tweet

    .mod
        .post-meta
            h4
                | Original Article
            if article.article
                .origin
                    div Origin: 
                        a(href="#{article.article.source.url}", target="_blank") 
                            | #{article.article.source.name}, #{article.article.source.location}
                    div 
                        | Language: 
                        a(href="/#{language}/?language=#{article.article.source.language.short_code}") #{article.article.source.language.name}
                a(href="#{article.article.url}", target="_blank").button.button-royal.button-icon.button-fluid
                    label Read original post
                    .ss-icon.ss-right
            else
                .origin
                    | fake data for testing
                    div Origin: 
                        a(href="", target="_blank") 
                            | #{'article.article.source.name'}, #{'article.article.source.location'}
                    div 
                        | Language: 
                        a(href="/#{'language'}/?language=#{'article.article.source.language.short_code'}") #{'article.article.source.language.name'}
                a(href="#{'article.article.url'}", target="_blank").button.button-royal.button-icon.button-fluid
                    label Read original post
                    .ss-icon.ss-right
    .mod.keywords
            b Keywords: 
            if article.article
                each keyword in article.article.keywords
                    span #{keyword}, 
            else
                each keyword in ['keyword1', 'keyword2', 'keyword3', 'keyword4']
                    span #{keyword}, 
    .mod
        .find-mistake
            p 
                b Find A Mistake? 
                | Help The Minute bring accurate news in English. If you see something wrong in this article please notify 
                a(href="mailto:info@nydata.co") info@nydata.co








