section.right-rail
    .mod
        .shareability
            .primary-share
                .fb-share
                    a(href="#")
                        .ss-social.ss-facebook
                        span Share
                .tw-tweet
                    a(href="#")
                        .ss-social.ss-twitter
                        span Tweet
            .secondary-share
                span
                    .network.pinterest.tt(title="Share on Pinterest")
                        .tooltip
                            | Share on Pinterest
                        .ss-social.ss-pinterest
                span
                    .network.email.tt(title="Email This")
                        .tooltip
                            | Email This
                        .ss-social.ss-email
                span
                    .network.whatsapp.tt(title="Share on WhatsApp")
                        .tooltip
                            | Share on WhatsApp
                        .ss-social.ss-whatsapp
                span
                    .network.tumblr.tt(title="Share on Tumblr")
                        .tooltip
                            | Share on Tumblr
                        .ss-social.ss-tumblr
                span
                    .network.reddit.tt(title="Share on Reddit")
                        .tooltip
                            | Share on Reddit
                        .ss-social.ss-reddit
                span
                    .network.digg.tt(title="Digg this")
                        .tooltip
                            | Digg this
                        .ss-icon.ss-like
                span
                    .network.googleplus.tt(title="Share on Google+")
                        .tooltip
                            | Share on Google+
                        .ss-social.ss-googleplus

    .mod
        .post-meta
            h4
                | Original Article
            .origin
                div Origin: 
                    a(href="#{article.article.source.url}", target="_blank") 
                        | #{article.article.source.name}, #{article.article.source.location}
                div 
                    | Language: 
                    a(href="/#{language}/?language=#{article.article.source.language.short_code}") #{article.article.source.language.name}
            a(href="#{article.article.url}", target="_blank").button.button-cyan.button-icon.button-fluid
                label Read original post
                .ss-icon.ss-right
    .mod
        .tags
            b Read More. 
            each keyword in article.article.keywords
                a(href="#") #{keyword}, 
    .mod
        .find-mistake
            p 
                b Find A Mistake? 
                | Help The Minute bring accurate news in English. If you see something wrong in this article please notify 
                a(href="mailto:staff@theminute.co") staff@theminute.co