block content
    .columns
        .col-10.col-center
            ul.frontpage
                //- each articles, source in articleSources
                //-     | #{source}

                //- for article in articles
                //-     frontpage
                //-     li
                //-         if article.top_image
                //-             .article-img(style="background-image:url('#{article.top_image}')")
                //-                 .article-title
                //-                     a(href="./#{article.slug}") #{article.title}
                        
                //-         else if article.article.images && article.article.images.length
                //-             .article-img(style="background-image:url('#{article.article.images[Math.floor(Math.random()*article.article.images.length)]}')")
                //-                 .article-title
                //-                     a(href="./#{article.slug}") #{article.title}

                //-         else
                //-             .article-noimg
                //-                 .article-title
                //-                     a(href="./#{article.slug}") #{article.title}
                //-         .article-text
                //-             p #{article.text}
                //-             a(href="./#{article.slug}").button.button-cyan
                //-                 .ss-navigateright
                //-                 label Read Article
                //-         .article-url #{article.url}





