block content
    .columns
        .col-12
            //- <ul class="grid effect-2" id="grid">
            ul.frontpage.grid.effect-2(id="grid")
                each articles, source in articleSources
                    for article in articles
                        li
                            //- .article-source 
                            //-     .ss-globe
                            //-     span #{source}
                            if article.top_image
                                a(href="./#{article.slug}")
                                    .halftone
                                    .article-img(style="background-image:url('#{article.top_image}')")
                                        .article-title
                                            span #{article.title}
                                        .article-source
                                            .ss-globe
                                            span TheSource.com
                                        //- .article-meta
                                                .timeago 4 August 2015
                                                .lang German (or use flag)
                            
                            else if article.article.images && article.article.images.length
                                a(href="./#{article.slug}")
                                    .halftone
                                    .article-img(style="background-image:url('#{article.article.images[Math.floor(Math.random()*article.article.images.length)]}')")
                                        .article-title
                                            span #{article.title}
                                        .article-source
                                            .ss-globe
                                            span TheSource.com