block content
	.columns
		.col-10.col-center
			ul.frontpage
				for article in fakeArticleList
					li
						if article.top_image
							.article-img(style="background-image:url('#{article.top_image}')")
								.article-title
									a(href="/articles") #{article.title}
						else
							.article-noimg
								.article-title
									a(href="/articles") #{article.title}
						.article-text: p #{article.text}
						.article-url #{article.url}





