doctype html
html(lang="en")
    head
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
        meta(http-equiv="X-UA-Compatible" content="IE=10; IE=9; IE=8; IE=7; IE=EDGE")
        meta(charset="UTF-8")
        block meta        
        script(src="#{STATIC_URL}js/lib/modernizr.custom.js")
        link(rel='stylesheet', href='#{STATIC_URL}css/app.css')

body
    #about.modal
        .modal-header: h2 About
        .modal-body
            h4 The Minute curates trending stories from around the world and automatically translates them into English.
            p
                span This is an experiment produced by 
                a(href="http://nydata.co") The New York Data Company.
        .modal-footer: .columns
            .col-6
                p.text-center Want to contribute to this project?
                a.button.button-fluid.button-black(href="#") 
                    //- img(src="#{STATIC_URL}images/svg/github-octocat.svg")
                    .ss-social.ss-github
                    label Fork on Github
            .col-6
                p.text-center Or read more
                a.button.button-fluid.button-black(href="#") 
                    .ss-navigateright
                    label Read Our Post
    #page
        block header
        block content
        block footer
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js")
    script(src="#{STATIC_URL}js/app.js")
    script(src="#{STATIC_URL}js/lib/modals.js")
    //- script(src='#{STATIC_URL}js/lib/dynamics.js')
    
    script(src="#{STATIC_URL}js/lib/masonry.pkgd.min.js")
    script(src="#{STATIC_URL}js/lib/imagesloaded.js")
    script(src="#{STATIC_URL}js/lib/classie.js")
    script(src="#{STATIC_URL}js/lib/AnimOnScroll.js")

    script.
        new AnimOnScroll( document.getElementById( 'grid' ), {
            minDuration : 0.4,
            maxDuration : 0.7,
            viewportFactor : 0.2
        });


    script.
        $('a[href="#about"]').click(function(event) {
          event.preventDefault();
          $(this).modal();
        });